
* {
    padding: 0;
    margin: 0;
}
h1 {
    color: #687a00 !important;
}
.is-1 {
    font-size: 3.2em ;
}
.is-2 {
    font-size: 2.2em;
    font-weight: bold;
}
.container1 {
    background: url(./images/slider-1.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: bottom !important;
    height: auto !important;
    width: 100% !important;
}
.container2 {
    padding-top: 20%;
}
.logo1 {
    height: 145px;
    width: 200px;
    margin-left: 30%;
    margin-top: 5%;
}
.logo2 {
       
    height: 75px;
    width: 75px;
    margin-left: 20%;
    margin-bottom: -5%;
}
.logo3 {

    height: 150px;
    width: 150px;
    margin-left: 40%;
    margin-bottom: -10%;
    margin-left: 55%;
    margin-bottom: -15%;
}

.logo4 {
    height: 100px;
    width: 100px;
    margin-left: 25%;
    

}
.gris {
    background-color: grey;
    height: 10px;
}


/*HEADER MARION*/
#header1{
    background-color: #404040 !important;
    color:white;
    font-size:14px !important;
    min-height:40px !important;
    max-height:70px !important;
    font-family:'Times New Roman', Times, serif;
    margin:0px !important;
}

#facebook, #twitter{
    padding:1px !important;
    padding-right:10px !important;
}

#header2{
    max-height: 80px !important;
    margin: 0px !important;
}

#header2 a{
    color:black !important;
    text-decoration: none !important;
    font-family: 'Times New Roman', Times, serif;
}

.nav-wrapper{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.nav-wrapper img{
    min-height: 12rem !important;
    max-height: 12rem !important;
    position: relative !important;
    margin-bottom: -70px !important;
}

.brand-logo {
    transform: translateX(20px) !important;
    padding-left: 6% !important;
}

.colonnes{
    display:flex !important;
    flex-wrap: wrap !important;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .col nav {
        text-align:center;
        width: 100% !important;
    }
    .colonnes{
        flex-direction: column !important;
        text-align:center;
        padding-left : 15% !important
    }
    #header2{
        min-height : 150px;
    }
    
}

/*ul a{
    display:flex !important;
    flex-wrap: wrap !important;
    flex-direction : row !important;
}*/


/*FIN HEADER MARION*/

/*DEBUT FOOTER MARION*/

#titleFooter{
    padding-top:20px !important;
    padding-bottom: 20px !important;
    color : greenyellow;
    font-size:18px;
    font-family:'Times New Roman', Times, serif;
}
.chipolata{
    padding-bottom: 22px!important;
}
.footerGris{
    padding-left:50px!important;
}
#footerGris p{
    color:white;
    font-family:'Times New Roman', Times, serif;
}

/*FIN FOOTER MARION*/

.columns{
	margin:0;
}
.padding{
	padding-top: 20px;
}
.padding2{
	margin-top: -30px;
}
.padding3{
	margin-top:40px;
	width: 100%;
}
.backgroundjaune{
	background-color:yellow;
	width: 30%;
	position: absolute;
	z-index: 11;

}
.marg{
	margin-top: 5px;
	position:relative;
	z-index: 10;
}
.taille3{
	width: 22%;
	margin-top: 30px;
}
.taille4{
	width: 100%;
}
.taille5{
    width: 100%;
    margin-bottom: 15px;
}
.img666{
	margin-bottom:10px;
	margin-top: -15px;
}

.padd5{
	padding-bottom: 100px;
}
.vert{
color: #687a00;
}

.has-background-white-ter{
	border:solid;
	border-width: 5px;
	border-color: #CECCAD;
}

@media screen and (max-width: 768px) {
    .columns1 {
        text-align:center;
    }
    .has-text-right{
        text-align: center !important;
    }
    .backgroundjaune{
    background-color:yellow;
    width: 100%;

}
.taille3{
    width: 100%;
}
.taille4{
    width: 100%;

}
.taille5{
    width: 100%;
    padding-bottom: 15px;
    
}
.taille6 {
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.hidden {
    display: none;
}
}


.under-footer {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 1%;
    box-shadow: 0 -5px 5px 3px #e4e3e3;
    
}
.under-footer a {
    color: #000000;
}
.under-footer a:hover {
    color: pink;
}
.container3 {
    width: 100%;
    margin: 0;
    padding:0;
}
.leftpadd{
    padding-left:80px;
}


   .chips{
        text-align: center!important;
        border-bottom: none;
        text-align: left!important;
        padding-left: 8%!important;
    }
@media screen and (max-width: 1022px) {
    .logomedia {
         margin-top: -36px;
    }
}

@media screen and (max-width: 1100px) {
    .display{
        display:none;
    }
    .is-three-fifths{
        margin-left: -40%;
    }
    .modif{
        margin-right: 10%;

    }
}
@media screen and (max-width: 770px) {
    .jambon{
        width: 50%!important;
        margin-left: -20px!important;
    }
    .cache{
        display: none;
    }
    .centrey{
        text-align: center;
        margin:0;
        padding:0;
    }
  .leftpadd{
    padding-left: 0;}
}
.container {
    padding: 0;
    margin-left: 10%;
    
}
body{
    margin:0;
    padding: 0;
}
.centretoi{
    padding-bottom:40px;
    padding-top:90px;
}
.taille1 {
    width: 100%;
    padding-bottom: 100px;
}
.white{
    max-width:3067px;
    width: 85%;
    z-index: 10;
    margin-left: 7%;
    margin-top:-30px;
    border: 3px solid;
    border-color: #CECCAD;
}
.justify{
    float:right !important;
}
.resize{
    width: 35% !important;
}
.divider{
    height: 0px !important;
}
.yellow{
    width: inherit;
    text-align: center;
    position:absolute;
    z-index: 11;
    margin-top: -19px;
}
.remonte{
    margin-top: -50px;
}
.foot{
    background-color: black !important;
    height:200px;
}
.pourcent{
    width: 23% !important;

}
.testy{
    margin:0!important;
    padding: 0!important;
}
@media screen and (max-width: 768px) {
    .taille{
        width:500px;
        text-align:center;
    }
    .centretoi{
        text-align: center;
    }


}

@media screen and (max-width: 660px) {
    .resize{
        width: 86% !important;

    }
   

    .justify{
        float:none!important;
    }
    .reduction{
        width:86% !important;

    }
    .respons{
        width: 100% !important;
    }
    .yellow{
    margin-left: -11px;
    }
    .white{
    width:84%!important;
    }
}
@media screen and (max-width: 993px) {
    .white{
        width: 84%;
    }
@media screen and (max-width: 600px) {
    .white{
        width: 84%;
    }
     .chips{
        text-align: center!important;
        border-bottom: 1px solid #9e9e9e;
        padding-left: 0%!important;
    }

@media screen and (max-width: 660px) {

    .sucette{
        text-align: center;

    }

.logo1 {
    height: 145px;
    width: 200px;
    margin-left: 0%!important;
    margin-top: 0%!important;
}
.logo2 {
       
    height: 75px;
    width: 75px;
    margin-left: 0%!important;;
    margin-bottom: 0%!important;
}
.logo3 {

    height: 150px;
    width: 150px;
    margin-left: 0%!important;;
    margin-bottom: 0%!important;
    margin-left: 0%!important;
    margin-bottom: 0%!important;
}

.logo4 {
    height: 100px;
    width: 100px;
    margin-left: 0%!important;;
    

}
.right-align{
    text-align: center;
}
}


}
